.App {
  font-family: sans-serif;
  text-align: center;
}

.clusters rect {
  fill: #00ffd0;
  stroke: #999;
  stroke-width: 1.5px;
}

text {
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.node circle {
  stroke: black;
  fill: #CCC;
  border-radius: 25px;
}



#tooltip {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-style: 12px;
  -webkit-box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}


.arrowhead_success {
  stroke: #afa;
  fill: #afa;
  stroke-width: 1.5px;
}

.arrowhead_failed {
  stroke: red;
  fill: red;
  stroke-width: 1.5px;
}

.arrowhead_notrun {
  stroke: yellow;
  fill: yellow;
  stroke-width: 1.5px;
}

